<template>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col" class="text-right">
                    <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                        <i class="fas fa-plus"></i>
                    </router-link>
                    <button class="btn btn-light btn-sm" @click="getCategories()">
                        <i class="fas fa-sync"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data,index) in categories" :key="index">
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    {{index+1}}
                </router-link>
                <router-link tag="td" :to="{ path:data.id.toString() }" append>
                    {{data.name}}
                </router-link>
                <td class="text-right">
                    <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                        <i class="fas fa-edit"></i>
                    </router-link>
                    <button class="btn btn-danger btn-sm" @click="deleteCategory(data,index)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        data(){
            return {
                categories : []
            }
        },
        methods: {
            async getCategories() {
                this.categories = [];
                let fetchCategories = axios.get("/api/categories").then(response => response.data);
                let result = await fetchCategories;
                this.categories = result;
            },
            async deleteCategory(data, index) {
                let deletingCategory = axios.delete(`/api/categories/${data.id}`).then(response => response.data);
                let result = await deletingCategory;
                this.categories.splice(index, 1);
            }
        },
        beforeMount(){
            this.getCategories();   
        }
    }
</script>