<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Colores</h1>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Color</th>
                            <th scope="col" class="text-right">
                                <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                                    <i class="fas fa-plus"></i>
                                </router-link>
                                <button class="btn btn-light btn-sm" @click="getColors()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data,index) in colors" :key="index">
                            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                                {{index+1}}
                            </router-link>
                            <router-link tag="td" :to="{ path:data.id.toString() }" append>
                                {{data.name}}
                            </router-link>
                            <router-link tag="td" :to="{ path:data.id.toString() }" append>
                                <div class="color-box" :style="{'background': data.value}"></div>
                            </router-link>
                            <td class="text-right">
                                <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                                    <i class="fas fa-edit"></i>
                                </router-link>
                                <button class="btn btn-danger btn-sm" @click="deleteColor(data,index)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table-component :items="colors" :options="table"></table-component>
        </div>
    </div>
</template>

<script>
    import TableComponent from '../../components/Table/TableComponent';

    export default {
        components: { TableComponent },
        data(){
            return {
                colors : [],
                table: {
                    headers: {
                        title: {
                            value: 'Colores',
                            buttons: [
                                {
                                    class: 'btn-light btn-sm',
                                    events: {
                                        click: 'getList'
                                    }
                                }
                            ]
                        },
                        columns: ['id','name','value'],
                    },
                }
            }
        },
        methods: {
            async getColors() {
                this.colors = [];
                let fetchColors = axios.get("/api/colors").then(response => response.data);
                let result = await fetchColors;
                this.colors = result;
            },
            async deleteColor(data, index) {
                let deletingColor = axios.delete(`/api/colors/${data.id}`).then(response => response.data);
                let result = await deletingColor;
                this.colors.splice(index, 1);
            }
        },
        beforeMount(){
            this.getColors();   
        }
    }
</script>