<template>
    <div class="card">
        <div class="card-body">
            <button type="button" class="close" data-dismiss="modal" v-if="isModal">
                <span>&times;</span>
            </button>
            <h1 class="card-title">
                {{ isUpdate ? 'Editar' : 'Registrar'}}
            </h1>
            <form v-on:submit.prevent="saveOrUpdate()">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ejemplo: Rojo" v-model="color.name" required>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="color" class="form-control" id="color" v-model="color.value">
                </div>
                <div class="text-right">
                    <router-link :to="{ path:'/gestion/colores' }" class="btn btn-warning" v-if="!isModal">
                        Cancelar
                    </router-link>
                    <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn" :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props:[
            'isModal', 'modalId', 'updating'
        ],
        data(){
            return {
                isUpdate: this.updating === undefined ? this.$route.params.id !== 'crear' : this.updating,
                color: { value:'#0000000' }
            }
        },
        methods: {
            saveOrUpdate(){
                this.isUpdate ? this.update() : this.save()
            },
            async update(){
                let updateColor = axios.put(`/api/colors/${this.color.id}`, this.color).then(response => response.data);
                let result = await updateColor;
                if(!this.isModal) this.$router.push('/gestion/colores')
                else {
                    this.color.name = "";
                    $(`#${this.modalId}`).modal('hide')
                    this.$emit('updated')
                }
            },
            async save(){
                let saveColor = axios.post("/api/colors", this.color).then(response => response.data);
                let result = await saveColor;
                if(!this.isModal) this.$router.push('/gestion/colores')
                else {
                    this.color.name = "";
                    $(`#${this.modalId}`).modal('hide')
                    this.$emit('created')
                }
            }
        },
        beforeMount(){
            if(this.isUpdate){
                axios.get(`/api/colors/${this.$route.params.id}`).then(response => this.color = response.data);
            }
        }
    }
</script>