html{ 
	margin: 0mm;
}
body {
	margin: 1.2cm auto 10mm;
	width: 20.2cm;
	color: #001028;
	background: #fff; 
	font-family: 'Helvetica', sans-serif; 
	font-size: 12px;
}
h1,h2,h3,h4,h5{
	font-family: 'Helvetica', sans-serif;
}
.font-11{
	font-size: 11.2px !important;
}
.font-10{
	font-size: 10px !important;
}
.font-8{
	font-size: 8px !important;
}
.col{
	padding-left: 0px;
	padding-right: 0px;
}
.col-heading{
	text-align: center;
    background: rgb(10, 100, 162);
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding:1px;
}
.col-content{
	padding-left: 15px;
	padding-right: 15px;
}
.saltopagina{
  page-break-before:always;
}
.main-table th{
	text-align: center;
    background: rgb(10, 100, 162);
	color: #fff;
	vertical-align: middle !important;
	padding: 0 !important;
}
.main-table td{
	text-align: center;
	font-size: 10px;
	padding: 4px !important;
}
table.no-border{
	margin-bottom: 0px;
}
.no-border td{
	border: none !important;
	padding: 0px !important;
}
.my-footer{
	text-align: center;
	right: 0;
	left: 0;
	position: fixed;
	bottom: 2.5cm;
}
.my-footer img{
	width: 80px;
}