<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Telas</h1>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Almacen</th>
                                <th scope="col" class="text-right">
                                    <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                                        <i class="fas fa-plus"></i>
                                    </router-link>
                                    <button class="btn btn-light btn-sm" @click="getFabrics()">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data,index) in fabrics" :key="index">
                                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                                    {{index+1}}
                                </router-link>
                                <router-link tag="td" :to="{ path:data.id.toString() }" append>
                                    {{data.name}}
                                </router-link>
                                <router-link tag="td" :to="{ path:data.id.toString() }" append>
                                    {{data.price ? '$'+data.price : 'N/A'}}
                                </router-link>
                                <router-link tag="td" :to="{ path:data.id.toString() }" append>
                                    {{data.current_stock ? data.current_stock.total : 0}} m
                                </router-link>
                                <td class="text-right">
                                    <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                                        <i class="fas fa-edit"></i>
                                    </router-link>
                                    <button class="btn btn-danger btn-sm" @click="deleteFabric(data,index)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <a href="#" class="card-link">Card link</a> -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                fabrics: []
            }
        },
        methods: {
            async getFabrics() {
                this.fabrics = [];
                let fetchFabrics = axios.get("/api/fabrics").then(response => response.data);
                let result = await fetchFabrics;
                this.fabrics = result.data;
            },
            async deleteFabric(data, index) {
                let deletingFabric = axios.delete(`/api/fabrics/${data.id}`).then(response => response.data);
                let result = await deletingFabric;
                this.fabrics.splice(index, 1);
            }
        },
        beforeMount(){
            this.getFabrics();   
        }
    }
</script>