<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                {{ isUpdate ? 'Editar' : 'Registrar'}}
            </h1>
            <form v-on:submit.prevent="saveOrUpdate()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="Ejemplo: Brush" v-model="fabric.name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" v-model="fabric.price" step="any">
                    </div>
                    <div class="form-group col-lg-6">
                        <div>
                            <label for="type">Diseños</label>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#category-create">
                                Agregar
                            </button>
                        </div>
                        <div class="input-group">
                            <select id="type" class="form-control" v-model="category">
                                <option value="">Seleccionar diseño</option>
                                <option :value="index" v-for="(data,index) in categories" :key="index">{{ data.name }}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" @click="addCategory()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <small class="form-text text-muted" v-if="!fabric.categories.length">
                            Haz clic en el boton '+' para agregar los diseños disponibles
                        </small>
                        <div class="container-fluid">
                            <span class="tag-item p-2 pointer" v-for="(data,index) in fabric.categories" :key="index" @click="deleteCategory(index)">
                                <b>{{ data.category.name }}</b>
                                <i class="float-right ml-2">&times;</i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <div>
                            <label for="color">Colores de Tela</label>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#color-create">
                                Agregar
                            </button>
                        </div>
                        <div class="input-group">
                            <select id="color" class="form-control" v-model="color">
                                <option value="">Seleccionar color</option>
                                <option :value="index" v-for="(data,index) in colors" :key="index">{{ data.name }}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" @click="addColor()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <small class="form-text text-muted" v-if="!fabric.colors.length">
                            Haz clic en el boton '+' para agregar un color
                        </small>
                        <div class="container-fluid">
                            <span class="tag-item p-2 pointer text-shadow" v-for="(data,index) in fabric.colors" :key="index" @click="deleteColor(index)" :style="{color: data.color.value}">
                                <b>{{ data.color.name }}</b>
                                <i class="float-right ml-2">&times;</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <h3 class="card-subtitle mb-2">Modelos</h3>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sku">Codigo</label>
                        <input type="text" class="form-control" id="sku" v-model="model.sku">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="model-type">Diseño</label>
                        <select id="model-type" class="form-control" v-model="model.category">
                            <option value="">Seleccionar diseño</option>
                            <option :value="data.category" v-for="(data,index) in fabric.categories" :key="index">{{ data.category ? data.category.name : '' }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="model-color">Color</label>
                        <select id="model-color" class="form-control" v-model="model.color">
                            <option value="">Seleccionar color</option>
                            <option :value="data.color" v-for="(data,index) in fabric.colors" :key="index">{{ data.color ? data.color.name : '' }}</option>
                        </select>
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="model-image" @change="onImageChange">
                                <label class="custom-file-label" for="model-image">Seleccionar imagen</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 text-center">
                        <div class="img-container-sm" v-if="model.image">
                            <img :src="model.image" class="img-fluid" @click="showImage(model)" data-toggle="modal" data-target="#show-image">
                        </div>
                    </div> -->
                    <div class="form-group col-md-12 text-right">
                        <button type="button" class="btn btn-secondary" @click="addModel()">
                            Agregar <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" v-if="fabric.models.length">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Diseño</th>
                                <th scope="col">Color</th>
                                <th scope="col" class="text-center" v-if="isUpdate">Imagen</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data,index) in fabric.models" :key="index">
                                <th scope="row">{{ data.sku }}</th>
                                <td>{{data.category ? data.category.name : ''}}</td>
                                <td>{{data.color ? data.color.name : ''}}</td>
                                <td class="text-center" v-if="isUpdate">
                                    <button v-if="!data.image" class="btn btn-success btn-sm" @click="showImage(data)" type="button" data-toggle="modal" data-target="#upload-image">
                                        Agregar <i class="fas fa-plus"></i>
                                    </button>
                                    <div class="img-container-sm" v-if="data.image">
                                        <img :src="data.image" class="img-fluid" @click="showImage(data)" data-toggle="modal" data-target="#show-image">
                                    </div>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-danger btn-sm" @click="deleteModel(index)" type="button">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <h3 class="card-subtitle mb-2">Almacen</h3>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="stock-model">Modelo</label>
                        <select id="stock-model" class="form-control" v-model="stock.model">
                            <option value="">Seleccionar modelo</option>
                            <option :value="data" v-for="(data,index) in fabric.models" :key="index">
                                {{ data.sku }} - {{ data.category ? data.category.name : '' }} {{ data.color ? data.color.name : '' }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-md-4">
                        <label for="roll-quantity">Rollos</label>
                        <input type="number" class="form-control" id="roll-quantity" placeholder="0" v-model="stock.roll_quantity" step="any">
                    </div>
                    <div class="form-group col-lg-2 col-md-4">
                        <label for="stock-quantity">Cant. Total (m)</label>
                        <input type="number" class="form-control" id="stock-quantity" placeholder="0" v-model="stock.quantity" step="any">
                    </div>
                    <div class="form-group col-lg-4 col-md-12 text-right">
                        <br>
                        <button type="button" class="btn btn-secondary" @click="addStock()">
                            Agregar <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" v-if="fabric.stock.length">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Rollos</th>
                                <th scope="col">Modelo</th>
                                <th v-if="!isUpdate" scope="col">Cantidad Total</th>
                                <th v-if="isUpdate" scope="col">Cantidad Restante</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data,index) in fabric.stock" :key="index">
                                <th scope="row">{{ data.roll_quantity ? data.roll_quantity : 'N/A' }}</th>
                                <td>
                                    <div class="img-container-sm" v-if="data.model && data.model.image">
                                        <img :src="data.model.image" class="img-fluid" @click="showImage(data.model)" data-toggle="modal" data-target="#show-image">
                                    </div>
                                    {{data.model ? data.model.sku : ''}}
                                    {{data.model && data.model.category ? data.model.category.name : ''}}
                                    {{data.model && data.model.color ? data.model.color.name : ''}}
                                </td>
                                <td v-if="!isUpdate" >{{data.quantity}} m</td>
                                <td v-if="isUpdate">{{data.remaining_quantity}} m</td>
                                <td class="text-right">
                                    <button class="btn btn-danger btn-sm" @click="deleteStock(index)" type="button">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <router-link :to="{ path:'/gestion/telas' }" class="btn btn-warning">
                        Cancelar
                    </router-link>
                    <button type="submit" class="btn" :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="modal fade" id="category-create" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <category-create :isModal="true" :modalId="'category-create'" :updating="false" @created="getCategories"></category-create>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="color-create" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <color-create :isModal="true" :modalId="'color-create'" :updating="false" @created="getColors"></color-create>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="show-image" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <img :src="image.src" class="img-fluid">
                    </div>
                    <div class="modal-footer text-right">
                        <button class="btn btn-danger" data-dismiss="modal" @click="deleteImage()"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="upload-image" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Subir Imagen
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="modal-image" @change="onImageChange($event,false)">
                                    <label class="custom-file-label" for="modal-image">Seleccionar imagen</label>
                                </div>
                            </div>
                        </div>
                        <img :src="image.src" class="img-fluid">
                    </div>
                    <div class="modal-footer text-right">
                        <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fas fa-trash"></i></button>
                        <button class="btn btn-success" @click="addImage()" data-dismiss="modal" v-if="image.src">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CategoryCreate from "../Category/CategoryCreateUpdate";
import ColorCreate from "../Color/ColorCreateUpdate";

export default {
  data() {
    return {
      isUpdate: this.$route.params.id !== "crear",
      fabric: { categories: [], colors: [], stock: [], models:[] },
      model: { sku: "", category: "", color: "", image: ""},
      stock: { category: "", color: "", model: "" },
      category: "",
      categories: [],
      color: "",
      colors: [],
      model_id: 0,
      image: { src: "" }
    };
  },
  components: {
    CategoryCreate,
    ColorCreate
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let updateFabric = axios
        .put(`/api/fabrics/${this.fabric.id}`, this.fabric)
        .then(response => response.data);
      let result = await updateFabric;
      this.$router.push("/gestion/telas");
    },
    async save() {
      let saveFabric = axios
        .post("/api/fabrics", this.fabric)
        .then(response => response.data);
      let result = await saveFabric;
      this.$router.push("/gestion/telas");
    },
    async getCategories() {
      this.categories = [];
      let fetchCategories = axios
        .get("/api/categories")
        .then(response => response.data);
      let result = await fetchCategories;
      this.categories = result;
    },
    async addCategory() {
      if (this.category === "") return;
      let category = this.categories[this.category];
      let categoryAdded = {};
      if (this.isUpdate) {
        let addingCategory = axios
          .post(`/api/fabrics/${this.fabric.id}/categories/${category.id}`)
          .then(response => response.data);
        let fabricCategory = await addingCategory;
        categoryAdded = {
          id: fabricCategory.data.id,
          fabric_id: this.fabric.id,
          category_id: category.id,
          category: JSON.parse(JSON.stringify(category))
        };
      } else {
        categoryAdded = {
          fabric_id: this.fabric.id,
          category_id: category.id,
          category: JSON.parse(JSON.stringify(category))
        };
      }
      this.fabric.categories.push(categoryAdded);
      this.category = "";
    },
    async deleteCategory(index) {
      if (this.isUpdate) {
        let deletingCategory = axios.delete(
          `/api/fabric_category/${this.fabric.categories[index].id}`
        );
        await deletingCategory;
      }
      this.fabric.categories.splice(index, 1);
    },
    async getColors() {
      this.colors = [];
      let fetchColors = axios
        .get("/api/colors")
        .then(response => response.data);
      let result = await fetchColors;
      this.colors = result;
    },
    async addColor() {
      if (this.color === "") return;
      let color = this.colors[this.color];
      let colorAdded = {};
      if (this.isUpdate) {
        let addingColor = axios
          .post(`/api/fabrics/${this.fabric.id}/colors/${color.id}`)
          .then(response => response.data);
        let fabricColor = await addingColor;
        colorAdded = {
          id: fabricColor.data.id,
          fabric_id: this.fabric.id,
          color_id: color.id,
          color: JSON.parse(JSON.stringify(color))
        };
      } else {
        colorAdded = {
          fabric_id: this.fabric.id,
          color_id: color.id,
          color: JSON.parse(JSON.stringify(color))
        };
      }
      this.fabric.colors.push(colorAdded);
      this.color = "";
    },
    async deleteColor(index) {
      if (this.isUpdate) {
        let deletingColor = axios.delete(
          `/api/fabric_color/${this.fabric.colors[index].id}`
        );
        await deletingColor;
      }
      this.fabric.colors.splice(index, 1);
    },
    async addStock() {
      if (!this.stock.quantity) return;
        //let stock = this.stock[this.stock];
        let stockAdded = {};
        console.log(this.fabric)
        stockAdded = {
            fabric_model_id: this.stock.model.id,
            model: JSON.parse(JSON.stringify(this.stock.model)),
            fabric_id: this.fabric.id,
            quantity: this.stock.quantity,
            remaining_quantity: this.stock.quantity,
            is_roll: this.stock.roll_quantity > 0,
            roll_quantity: this.stock.roll_quantity
        }
        if (this.isUpdate) {
            let addingStock = axios
            .post(`/api/stock`,stockAdded)
            .then(response => response.data);
            let fabricStock = await addingStock;
            stockAdded.id = fabricStock.data.id;
            this.fabric.stock.push(stockAdded);
        } else {
            this.fabric.stock.push(stockAdded);
        }
      this.stock.roll_quantity = "";
      this.stock.quantity = "";
    },
    async deleteStock(index) {
      if (this.isUpdate) {
        let deletingStock = axios.delete(
          `/api/stock/${this.fabric.stock[index].id}`
        );
        await deletingStock;
      }
      this.fabric.stock.splice(index, 1);
    },
    async addModel() {
      if (!this.model.sku) return;
        let modelAdded = {};
        modelAdded = {
            sku: this.model.sku,
            fabric_id: this.fabric.id,
            category_id: this.model.category.id,
            category: {},
            color_id: this.model.color.id,
            color: {},
            image: this.model.image
        }
        if(modelAdded.category_id){
            modelAdded.category = JSON.parse(JSON.stringify(this.model.category));
        }
        if(modelAdded.color_id){
            modelAdded.color = JSON.parse(JSON.stringify(this.model.color));
        }
        if (this.isUpdate) {
            let addingModel = axios
            .post(`/api/fabric_models`,modelAdded)
            .then(response => response.data);
            let fabricModel = await addingModel;
            modelAdded.id = fabricModel.data.id;
            this.fabric.models.push(modelAdded);
        } else {
            modelAdded.id = 'a'+(++this.model_id);
            this.fabric.models.push(modelAdded);
        }
      this.model.sku = "";
      this.model.image = "";
    },
    async deleteModel(index) {
      if (this.isUpdate) {
        let deletingModel = axios.delete(
          `/api/fabric_models/${this.fabric.models[index].id}`
        );
        await deletingModel;
      }
      this.fabric.models.splice(index, 1);
    },
    onImageChange(e, updateModel) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length && updateModel){
            this.model.image = "";
            return;
        }
        else if(!files.length && !updateModel){
            this.image.src = "";
            return;
        }
        this.createImage(files[0], updateModel);
    },
    createImage(file, updateModel) {
        let reader = new FileReader();
        let vm = this;
        reader.onload = (e) => {
            if(updateModel) vm.model.image = e.target.result;
            else vm.image.src = e.target.result;
        };
        reader.readAsDataURL(file);
    },
    showImage(data){
        this.image.src = data.image;
        this.image.id = data.id;
    },
    addImage(){
        let vm = this;
        if(this.isUpdate){
            let formdata = new FormData();
            formdata.append('image', document.getElementById('modal-image').files[0]);
            axios.post(`/api/fabric_models/${vm.image.id}/image`,formdata).then(response => {
                vm.getFabric();                
                /*vm.fabric.models.forEach((element,key) => {
                    if(vm.image.id == element.id){
                        element.image = vm.image.src
                    }
                });*/
            });
        }
        else{
            if(vm.image.id){
                vm.fabric.models.forEach((element,key) => {
                    if(vm.image.id == element.id){
                        element.image = vm.image.src;
                    }
                });
            }
            else vm.model.image = vm.image.src;
        }
    },
    deleteImage(){
        let vm = this;
        if(this.isUpdate){
            axios.delete(`/api/fabric_models/${vm.image.id}/image`).then(response => {
                vm.getFabric();

                /*vm.fabric.models.forEach((element,key) => {
                    if(vm.image.id == element.id){
                        element.image = ""
                    }
                });*/
            });
        }
        else{
            if(vm.image.id){
                vm.fabric.models.forEach((element,key) => {
                    if(vm.image.id == element.id){
                        element.image = ""
                    }
                });
            }
            else vm.model.image = "";
        }
    },
    getFabric(){
        let vm = this;
        axios.get(`/api/fabrics/${this.$route.params.id}`).then(response => vm.fabric = response.data);
    }
    /*uploadImage(){
        axios.post('/image/store',{image: this.image}).then(response => {
            console.log(response);
        });
    }*/
  },
  beforeMount() {
    this.getCategories();
    this.getColors();
    if (this.isUpdate) {
        this.getFabric()
    }
  }
};
</script>
<style scoped>
.tag-item{
    display: inline-block;
}
.tag-item.text-shadow{
    text-shadow: 1px 1px 1px #999;
}
.img-container-sm{
    display: inline-block;
    width: 120px;
    height: 90px;
    overflow: hidden;
}
@media (max-width: 767px){
    .img-container-sm{
        max-width: 120px;
    }
}
</style>
