<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                Venta #
                <button class="btn btn-success" @click="addSale()">Agregar <i class="fas fa-plus"></i></button>
            </h1>
            <div v-if="sales.length > 1">
                <ul class="nav nav-tabs">
                    <li class="nav-item" v-for="(sale,index) in sales" :key="index" @click="selectSale(index)">
                        <a class="nav-link" data-toggle="tab" href="#" :class="{'active': index == selectedSale}">#{{index+1}}</a>
                    </li>
                </ul>
            </div>
            <form class="form-row" @submit.prevent="search('findCustomer')" autocomplete="off">
                <div class="form-group col-md-12">
                    <label for="client">Cliente</label>
                    <input type="text" id="client" class="form-control" v-model="sales[selectedSale].customer.name" @keyup="search('findCustomer')">
                    <div class="search-list" v-if="!sales[selectedSale].customer_id">
                        <div class="list-group">
                            <div class="list-group-item p-2" :key="data.id" v-for="data in customers" @click="selectCustomer(data)"><b>{{data.name}}</b></div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-row" @submit.prevent="search('findFabricModels')" autocomplete="off">
                <div class="form-group col-md-12 col-lg-4">
                    <label for="article-model">Articulo</label>
                    <input type="text" class="form-control" v-model="model.name" @keyup="search('findFabricModels')" required>
                    <div class="search-list" v-if="!model.id">
                        <div class="list-group">
                            <template v-for="data in models">
                                <div class="list-group-item p-2" :key="data.id"><b>{{data.name}}</b></div>
                                <div class="list-group-item pl-4 py-2 pr-2" v-for="(model,key) in data.models" :key="model.id+'-model'" @click="selectFabricModel(data,key)">
                                    {{model.sku}}
                                    {{model.category ? model.category.name : ''}}
                                    {{model.color ? model.color.name : ''}}
                                    <div class="image-container float-right" v-if="model.image">
                                        <img :src="model.image">
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="article-quantity">Cantidad {{ model.id ? '(m)':''}}</label>
                    <input type="number" class="form-control" v-if="model.id"
                        v-model="article.quantity" step="any"
                        :placeholder="'Disponible: '+(model.current_stock ? model.current_stock.total : 0)+' m'">
                    <input type="number" class="form-control" v-if="!model.id" v-model="article.quantity" step="any">
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label for="article-price">Precio {{ model.id ? 'x metro':'unitario'}}</label>
                    <input type="number" class="form-control" v-model="article.price" step="any">
                </div>
                <div class="form-group col-md-12 text-right">
                    <button class="btn btn-secondary" @click="addArticle()">Agregar</button>
                </div>
                <div class="form-group col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="6">Articulos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="text-center">Cantidad</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col" class="text-right">P.U.</th>
                                    <th scope="col" class="text-right">Importe</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr v-for="(data,index) in sales[selectedSale].articles" :key="index">
                                    <th scope="row">{{index+1}}</th>
                                    <td class="text-center">{{data.quantity}}</td>
                                    <td v-if="data.model">
                                        <div class="img-container-sm" v-if="data.model && data.model.image">
                                            <img :src="data.model.image" class="img-fluid" @click="image.src = data.model.image" data-toggle="modal" data-target="#show-image">
                                        </div>
                                        {{data.model ? data.model.sku : ''}}
                                        {{data.model && data.model.category ? data.model.category.name : ''}}
                                        {{data.model && data.model.color ? data.model.color.name : ''}}
                                    </td>
                                    <td v-else>
                                        {{data.description}}
                                    </td>
                                    <td class="text-right">{{data.price}}</td>
                                    <td class="text-right">{{data.total}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-sm" type="button" @click="deleteArticle(index)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8"></div>
                <div class="form-group col-md-4">
                    <table class="table table-borderless">
                        <tr>
                            <th>Total</th>
                            <td class="text-right">${{sales[selectedSale].total}}</td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-12 text-right">
                    <button class="btn btn-warning" type="button" @click="deleteSale()">Cancelar</button>
                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#sale-payment" 
                    v-if="sales[selectedSale].customer.name" @click="updateBalance()">Finalizar</button>
                    <button 
                        class="btn btn-primary" 
                        type="button" 
                        v-if="sales[selectedSale].articles.length"
                        @click="sales[selectedSale].balance = 0;save()"
                        :disabled="savingSale"
                        >Pagar</button>
                </div>
            </form>
        </div>
        <div class="modal fade" id="show-image" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <img :src="image.src" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sale-payment" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Pago
                        <button type="button" class="close" data-dismiss="modal" @click="sales[selectedSale].balance = sales[selectedSale].total;sales[selectedSale].payment=''">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="save(true)">
                            <div class="form-group">
                                <label for="sale-payment">Pago Inicial:</label>
                                <input type="number" id="sale-payment" class="form-control" v-model="sales[selectedSale].payment" @keyup="updateBalance()" step="any">
                            </div>
                            <div class="form-group">
                                <label for="sale-balance">Saldo Pendiente:</label>
                                <p class="text-right">
                                    {{ sales[selectedSale].balance }}
                                </p>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-warning" type="button" data-dismiss="modal" @click="sales[selectedSale].balance = sales[selectedSale].total;sales[selectedSale].payment=''">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" :disabled="savingSale">
                                    Pagar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            selectedSale: 0,
            article: { quantity:"", price:"" },
            model: { name:"" },
            image: { src:"" },
            sales: [
                {
                    customer: { name:"" },
                    articles: [],
                    customer_id: "",
                    total: 0,
                    payment: ""
                }
            ],
            customers: [],
            models: [],
            toSave: {},
            savingSale: false
        }
    },
    methods: {
        search: _.debounce(function(callback){
            this[callback]();
        },300),
        addSale() {
            this.sales.push({
                customer: { name:"" },
                articles: [],
                customer_id: "",
                payment: "",
                total: 0
            })
            this.selectedSale = this.sales.length - 1;
            this.models = [];
            this.customers = [];
            this.toSave['path-'+this.$route.fullPath].sales = JSON.parse(JSON.stringify(this.sales));
            localStorage.setItem('toSave', JSON.stringify(this.toSave))
        },
        selectSale(index) {
            this.selectedSale = index;
            this.models = [];
            this.customers = [];
        },
        deleteSale(){
            if(this.selectedSale == 0 && this.sales.length == 1){
                this.sales[this.selectedSale].customer = { name:"" };
                this.sales[this.selectedSale].customer_id = "";
                this.sales[this.selectedSale].articles = [];
                this.sales[this.selectedSale].total = 0;
                this.sales[this.selectedSale].balance = 0;
                this.sales[this.selectedSale].payment = "";
            }
            else {
                this.sales.splice(this.selectedSale,1);
                this.toSave['path-'+this.$route.fullPath].sales = JSON.parse(JSON.stringify(this.sales));
                this.selectedSale=0;
            }
            localStorage.setItem('toSave', JSON.stringify(this.toSave))
        },
        async findCustomer(){
            this.sales[this.selectedSale].customer_id = "";
            
            this.toSave['path-'+this.$route.fullPath].sales = JSON.parse(JSON.stringify(this.sales));
            localStorage.setItem('toSave', JSON.stringify(this.toSave))

            if(!this.sales[this.selectedSale].customer.name) {
                this.customers = [];
                return
            };
            let customers = await axios.get('/api/customers/search',{params:this.sales[this.selectedSale].customer}).then(response => response.data);

            this.customers = customers;
        },
        selectCustomer(customer){
            this.sales[this.selectedSale].customer_id = customer.id;
            this.sales[this.selectedSale].customer = customer;
            this.toSave['path-'+this.$route.fullPath].sales = JSON.parse(JSON.stringify(this.sales));
            localStorage.setItem('toSave', JSON.stringify(this.toSave))
        },
        async findFabricModels(){
            this.model.id = "";
            let vm = this;
            if(!this.model.name) {
                this.models = [];
                return
            };
            let fabrics = await axios.get('/api/fabrics/search',{
                params:{ name:this.model.name }
            }).then(response => response.data);
            let filtered;
            fabrics.forEach(fabric => {
                filtered = [];
                fabric.models.forEach((model,index) => {
                    if(model.sku.toLowerCase().indexOf(vm.model.name.toLowerCase()) > -1) {
                        filtered.push(model)
                    }
                })
                fabric.models = filtered;
            })
            this.models = fabrics;
        },
        selectFabricModel(fabric, model){
            this.model = fabric.models[model];
            this.model.name = this.model.sku;
        },
        addArticle(){
            if(this.model.id){
                let current_stock = this.model.current_stock ? this.model.current_stock.total : 0;
                if(parseFloat(current_stock) < this.article.quantity){
                    PNotify.error(`Cantidad disponible en almacen: ${current_stock}m`)
                    return;
                }
            }
            let article = {};
            article.quantity = this.article.quantity;
            article.price = this.article.price;
            article.revenue = 0;
            if(this.model.id){
                article.model = JSON.parse(JSON.stringify(this.model));
            }
            else article.description = this.model.name;
            article.fabric_model_id = this.model.id;
            article.total = this.article.quantity * this.article.price;
            if(this.model.fabric.price){
                article.revenue = article.total - (this.article.quantity * this.model.fabric.price);
            }
            this.sales[this.selectedSale].articles.push(article);
            this.model.name = "";
            this.article.price = "";
            this.article.quantity = "";
            this.getTotal();
        },
        deleteArticle(index){
            this.sales[this.selectedSale].articles.splice(index, 1);
            this.getTotal();
        },
        getTotal(){
            let vm = this;
            this.sales[this.selectedSale].total = 0;
            this.sales[this.selectedSale].articles.forEach(article => {
                vm.sales[this.selectedSale].total += article.total;
            })
            this.sales[this.selectedSale].balance = this.sales[this.selectedSale].total;
            this.toSave['path-'+this.$route.fullPath].sales = JSON.parse(JSON.stringify(this.sales));
            localStorage.setItem('toSave', JSON.stringify(this.toSave))
        },
        updateBalance(){
            this.sales[this.selectedSale].balance = this.sales[this.selectedSale].total;
            this.sales[this.selectedSale].balance -= this.sales[this.selectedSale].payment > 0 ? parseFloat(this.sales[this.selectedSale].payment) : 0;
        },
        async save(closeModalPayment){
            this.savingSale = true;
            let saveSale = axios.post("/api/sales", this.sales[this.selectedSale]).then(response => response.data).catch(error =>{
                if(error.response){
                    if(error.response.data.code == 201){
                        let message = '';
                        error.response.data.data.forEach(model => {
                            message += `<p><b>${model.model.sku}</b>
                                Disponible: <b>${model.current_stock} m</b>,
                                Solicitado: <b>${model.quantity} m</b> 
                            </p>`;
                        })
                        PNotify.error({
                            title: 'Error de almacén',
                            text: message,
                            textTrusted: true
                        });
                    }
                }
            });
            let result = await saveSale;
            this.savingSale = false;
            if(result){
                if(closeModalPayment) $('#sale-payment').modal('hide');
                this.deleteSale();
                PNotify.success('Venta guardada');
            }
        }
    },
    mounted(){
        this.toSave = JSON.parse(localStorage.getItem('toSave'));
        if(this.toSave['path-'+this.$route.fullPath]){
            let params = this.toSave['path-'+this.$route.fullPath];
            if(params.sales) this.sales = params.sales;
        }
        else this.toSave['path-'+this.$route.fullPath] = {};
    }
}
</script>


<style scoped>
    .img-container-sm{
        display: inline-block;
        width: 60px;
        height: 40px;
        overflow: hidden;
        vertical-align: middle;
    }
    .image-container{
        height: 30px;
        display: inline-block;
    }
    .image-container img{
        max-height: 100%;
    }
    .small-text {
        font-size: 14px;
    }
    .product-box {
        border: 1px solid #cccccc;
        padding: 10px 15px;
    }
    .hero-section {
        height: 30vh;
        background: #ababab;
        align-items: center;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    .title {
        font-size: 60px;
        color: #ffffff;
    }
</style>