<template>
    <div class="h-100 bg-login">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card card-default shadow">
                        <div class="card-header text-center">
                            <h4>
                                Textiles Hernández
                                <img src="/img/logo-144.png" class="logo" alt="Logo">
                            </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail</label>
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control" v-model="email" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" v-model="password" required>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                            Entrar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: "",
                password: "",
                isLoggedIn: localStorage.getItem('bigStore.jwt') != null,
            }
        },
        beforeMount(){
            if (this.isLoggedIn) {
                this.$router.push('/');            
            }
        },
        methods: {
            handleSubmit(e) {
                e.preventDefault()
                if (this.password.length > 0) {
                    let email = this.email
                    let password = this.password

                    axios.post('api/login', {email, password}).then(response => {
                        let user = response.data.user
                        let is_admin = user.is_admin

                        localStorage.setItem('bigStore.user', JSON.stringify(user))
                        localStorage.setItem('bigStore.jwt', response.data.token)

                        if (localStorage.getItem('bigStore.jwt') != null) {
                            localStorage.setItem('toSave', '{}');
                            axios.defaults.headers.common['Content-Type'] = 'application/json'
                            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('bigStore.jwt')
                            this.$emit('loggedIn')
                            if (this.$route.params.nextUrl != null) {
                                this.$router.push(this.$route.params.nextUrl)
                            } else {
                                this.$router.push('/')
                            }
                        }
                    });
                }
            }
        }
    }
</script>
<style scoped>
.card-default{
    background-color: rgba(255, 255, 255, 0.9)
}
.bg-login{
    background: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    max-width: 60px;
}
</style>