<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{title}}</h1>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <div class="table-responsive">
                <component :is="item"></component>
            </div>
        </div>
    </div>
</template>

<script>
import Categories from '../views/Category/Categories';
import Stocks from '../views/Stock/Stocks';
import Stock from '../views/Stock/Stock';

export default {
    props: ['title','item'],
    components: {
        Categories, Stocks, Stock
    }
}
</script>