<template>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Rollos</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cant. Total</th>
                <th scope="col">Cant. Restante</th>
                <th scope="col" class="text-right">
                    <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                        <i class="fas fa-plus"></i>
                    </router-link>
                    <button class="btn btn-light btn-sm" @click="getItems()">
                        <i class="fas fa-sync"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data,index) in items" :key="index">
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    {{data.id}}
                </router-link>
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    {{data.roll_quantity ? data.roll_quantity : 'N/A'}}
                </router-link>
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    <div class="img-container-sm" v-if="data.model && data.model.image">
                        <img :src="data.model.image" class="img-fluid">
                    </div>
                    {{data.model ? data.model.sku : ''}}
                    {{data.model && data.model.category ? data.model.category.name : ''}}
                    {{data.model && data.model.color ? data.model.color.name : ''}}
                </router-link>
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    {{data.quantity}}
                </router-link>
                <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                    {{data.remaining_quantity}}
                </router-link>
                <td class="text-right">
                    <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                        <i class="fas fa-edit"></i>
                    </router-link>
                    <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        data(){
            return {
                items : [],
                base_url: '/api/stock'
            }
        },
        methods: {
            async getItems() {
                this.items = [];
                let fetchedItems = axios.get(`${this.base_url}`).then(response => response.data);
                let result = await fetchedItems;
                this.items = result;
            },
            async deleteItem(data, index) {
                let deletedItem = axios.delete(`${this.base_url}/${data.id}`).then(response => response.data);
                let result = await deletedItem;
                this.items.splice(index, 1);
            }
        },
        beforeMount(){
            this.getItems();   
        }
    }
</script>
<style scoped>
.img-container-sm{
    display: inline-block;
    width: 120px;
    height: 90px;
    overflow: hidden;
}
@media (max-width: 767px){
    .img-container-sm{
        max-width: 120px;
    }
}
</style>
