<template>
    <div class="table-responsive">
        <table class="table">
            <thead-component v-if="isReady('thead')" :options="thead"></thead-component>
        </table>
    </div>
</template>
<script>
import TheadComponent from './TheadComponent'
import TbodyComponent from './TbodyComponent'
export default {
    props:['options'],
    components: {
        TheadComponent, TbodyComponent
    },
    data(){
        return {
            thead: { ready:false },
            tbody: { ready:false },
        }
    },
    methods: {
        isReady(item) {
            return this[item].ready;
        },
        prepareThead(row) {
            let headers = [];
            if(row.title){
                headers.push({ 
                    title: row.title
                })
            }
            headers.push({
                columns: row.columns
            })
            this.thead.headers = headers;
            //this.thead.ready = true;
        },
    },
    mounted() {
        this.prepareThead(this.options.headers);
    },
}
</script>
