<template>
    <thead v-if="headers.length">
        <tr v-for="(data,index) in headers" :key="index">
            <td>Row</td>
        </tr>
    </thead>
</template>
<script>
export default {
    props: ['options'],
    data() {
        return {
            headers: []
        }
    },
    methods: {
        prepareRow(row, index) {
            row.forEach(element => {
                if (typeof element === 'string' || element instanceof String){
                    this.headers[index].push({ title: element });
                }
            });
        },
        prepareHeaders(headers) {
            let vm = this;
            headers.forEach((row, index) => {
                vm.headers.push([]);
                prepareRow(row, index);
            });
        }
    },
    beforeMount() {
        this.prepareHeaders(this.options.headers);
        console.log(this.headers);
    }
}
</script>
