<template>
    <div class="card">
        <div class="card-body">
            <button type="button" class="close" data-dismiss="modal" v-if="isModal">
                <span>&times;</span>
            </button>
            <h1 class="card-title">
                {{ isUpdate ? 'Editar' : 'Registrar'}}
            </h1>
            <form v-on:submit.prevent="saveOrUpdate()">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" v-model="customer.name" required>
                </div>
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" v-model="customer.address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="telephone">Teléfono</label>
                        <input type="text" class="form-control" id="telephone" v-model="customer.telephone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="mobilephone">Celular</label>
                        <input type="text" class="form-control" id="mobilephone" v-model="customer.mobilephone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Correo</label>
                        <input type="text" class="form-control" id="email" v-model="customer.email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="credit-days">Dias de Credito</label>
                        <input type="number" class="form-control" id="credit-days" v-model="customer.credit_days">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="comments">Observaciones</label>
                        <textarea id="comments" rows="3" class="form-control" 
                            v-model="customer.comments">
                        </textarea>
                    </div>
                </div>
                <div class="text-right">
                    <router-link :to="{ path:'/gestion/clientes' }" class="btn btn-warning" v-if="!isModal">
                        Cancelar
                    </router-link>
                    <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn" :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props:[
            'isModal', 'modalId', 'updating'
        ],
        data(){
            return {
                isUpdate: this.updating === undefined ? this.$route.params.id !== 'crear' : this.updating,
                customer: {}
            }
        },
        methods: {
            saveOrUpdate(){
                this.isUpdate ? this.update() : this.save()
            },
            async update(){
                let updateCustomer = axios.put(`/api/customers/${this.customer.id}`, this.customer).then(response => response.data);
                let result = await updateCustomer;
                if(!this.isModal) this.$router.push('/gestion/clientes')
                else {
                    this.customer.name = "";
                    this.customer.address = "";
                    this.customer.telephone = "";
                    this.customer.mobilephone = "";
                    this.customer.email = "";
                    this.customer.comments = "";
                    $(`#${this.modalId}`).modal('hide')
                    this.$emit('updated')
                }
            },
            async save(){
                let saveCustomer = axios.post("/api/customers", this.customer).then(response => response.data);
                let result = await saveCustomer;
                if(!this.isModal) this.$router.push('/gestion/clientes')
                else {
                    this.customer.name = "";
                    this.customer.address = "";
                    this.customer.telephone = "";
                    this.customer.mobilephone = "";
                    this.customer.email = "";
                    this.customer.comments = "";
                    $(`#${this.modalId}`).modal('hide')
                    this.$emit('created')
                }
            }
        },
        beforeMount(){
            if(this.isUpdate){
                axios.get(`/api/customers/${this.$route.params.id}`).then(response => this.customer = response.data);
            }
        }
    }
</script>