<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                Reporte de {{customer.name}}
            </h1>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Total</th>
                            <th scope="col">Saldo</th>
                            <th scope="col" class="text-right">
                                <button class="btn btn-light btn-sm" @click="getCustomer()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(data,index) in customer.sales">
                            <sale-row                                 
                                :key="'sale_'+data.id"
                                :sale="data"
                                :options="{buttons:{all:true}}"
                                @deleted="deleteSale(index)" 
                            />
                            <sale-row-details
                                :key="'sale_articles_'+index"
                                :sale="data"
                                @updateSales="getCustomer()"
                            />
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import SaleRow from '../Sale/SaleRow';
    import SaleRowDetails from '../Sale/SaleRowDetails';
    export default {
        components: {
            SaleRow, SaleRowDetails
        },
        data(){
            return {
                customer: { sales:[] },
            }
        },
        methods: {
            async getCustomer() {
                let fetchCustomer = axios.get(`/api/customers/${this.$route.params.id}/details`).then(response => response.data);
                this.customer = await fetchCustomer;
            },
            getDate(date){
                let saleDate = new Date(date);
                let day = saleDate.getDate() < 10 ? '0'+saleDate.getDate() : saleDate.getDate();
                let month = saleDate.getMonth()+1 < 10 ? '0'+(saleDate.getMonth()+1) : saleDate.getMonth()+1;
                return `${day}/${month}/${saleDate.getFullYear()}`;
            },
            deleteSale(index){
                this.customer.sales.splice(index, 1);
            }
        },
        beforeMount(){
            this.getCustomer();
        }
    }
</script>