<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Saldos de Cliente</h1>
            <div class="container-fluid">
                <form @submit.prevent="getSales()" autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label for="filter-customer">Cliente</label>
                            <input type="text" id="filter-customer" class="form-control" v-model="customer.name" @keyup="findCustomer">
                            <div class="search-list" v-if="!filter.id">
                                <div class="list-group">
                                    <div class="list-group-item p-2" :key="data.id" v-for="data in customers" @click="selectCustomer(data)"><b>{{data.name}}</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <label for="filter-page" class="mr-3">Mostrar:</label>
                                    <select id="filter-page" class="form-control" v-model="filter.per_page" @change="getSales()">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>      
                            </div>
                        </div>
                        <div class="form-group col-sm-6 text-right mb-2">
                            <button class="btn btn-primary">Filtrar <i class="fas fa-search"></i></button>
                        </div>          
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Saldo
                                <button class="btn btn-light btn-sm float-right" @click="getSales()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data,index) in sales" :key="index">
                            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                                {{data.id}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>
                                {{data.name}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>
                                {{data.current_balance ? data.current_balance.total:0}}
                            </router-link>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    data(){
        return {
            filter:{ per_page:10 },
            sales: [],
            customer: { name:"" },
            customers: []
        }
    },
    methods: {
        async getSales() {
            this.sales = [];
            let fetchSales = axios.get("/api/customers/balance",{params: this.filter}).then(response => response.data);
            let result = await fetchSales;
            this.sales = result.data;
        },
        async findCustomer(){
            this.filter.id = "";
            if(!this.customer.name) {
                this.customers = [];
                return
            };
            let customers = await axios.get('/api/customers/search',{params:this.customer}).then(response => response.data);
            this.customers = customers;
        },
        selectCustomer(customer){
            this.filter.id = customer.id;
            this.customer = customer;
            this.getSales();
        }
    },
    beforeMount(){
        this.getSales();   
    }
}
</script>
