<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                Detalles
            </h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">{{ sale.customer ? sale.customer.name : 'N/A'}}</th>
                    </tr>
                    <tr v-if="sale.customer">
                        <td>
                            Direccion <br>
                            {{ sale.customer.address }}
                        </td>
                        <td>
                            Telefono <br>
                            {{ sale.customer.telephone }}
                        </td>
                    </tr>
                    <tr v-if="sale.customer">
                        <td>
                            Correo <br>
                            {{ sale.customer.email }}
                        </td>
                        <td>
                            Crédito <br>
                            {{ sale.customer.credit_days ? sale.customer.credit_days : 0 }} dias
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="5">Articulos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Cantidad</th>
                            <th>Articulo</th>
                            <th class="text-right">Ganancia</th>
                            <th class="text-right">Precio Unitario</th>
                            <th class="text-right">Importe</th>
                            <!-- <th></th> -->
                        </tr>
                        <tr v-for="(article) in sale.articles" :key="article.id">
                            <td>{{article.quantity}}</td>
                            <td v-if="article.model">
                                {{article.model.fabric.name}}
                                {{article.model.sku}}
                                {{article.model.category ? article.model.category.name : ''}}
                                {{article.model.color ? article.model.color.name : ''}}
                            </td>
                            <td v-else>
                                {{article.description}}
                            </td>
                            <td class="text-right">{{article.revenue}}</td>
                            <td class="text-right">{{article.price}}</td>
                            <td class="text-right">{{article.total}}</td>
                            <!-- <td class="text-right">
                                <button class="btn btn-danger btn-sm" @click="deleteArticle(article,index)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td> -->
                        </tr>
                        <tr class="table-primary">
                            <th class="text-right" colspan="2">TOTALES</th>
                            <th class="text-right">{{sale.revenue}}</th>                        
                            <td></td>
                            <th class="text-right">{{sale.total}}</th>
                        </tr>
                        <tr class="table-danger" v-if="sale.balance > 0">
                            <th class="text-right" colspan="4">SALDO PENDIENTE</th>
                            <th class="text-right">{{sale.balance}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" v-if="sale.balance > 0 || sale.payments.length">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="4">
                                Abonos
                                <button class="btn btn-secondary float-right btn-sm" type="button" @click="addPayment = !addPayment" v-if="sale.balance>0"><i class="fas fa-plus"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="addPayment && sale.balance>0">
                            <td colspan="4">
                                <div class="form-row" >
                                    <div class="form-group col-lg-10">
                                        <label for="payment-amount">Cantidad de Abono</label>
                                        <input type="number" id="payment-amount" class="form-control" v-model="payment.amount" step="any">
                                    </div>
                                    <div class="form-group col-lg-2 text-right">
                                        <button type="button" class="btn btn-success mt-4" @click="savePayment()">
                                            Abonar
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                        <tr v-for="(data,index) in sale.payments" :key="data.id">
                            <td>{{index+1}}</td>
                            <td>{{getDate(data.created_at)}}</td>
                            <td>{{data.amount}}</td>
                            <td class="text-right">
                                <button class="btn btn-danger btn-sm" @click="deletePayment(index)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form v-on:submit.prevent="update()">
                <div class="text-right">
                    <router-link :to="{ path:'/reporte/ventas' }" class="btn btn-warning">
                        Cancelar
                    </router-link>
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                sale: { payments:[] },
                payment: {},
                addPayment: false
            }
        },
        methods: {
            async update(){
                let updateSale = axios.put(`/api/sales/${this.sale.id}`, this.sale).then(response => response.data);
                let result = await updateSale;
                this.$router.push('/reporte/ventas');
            },
            async savePayment() {
                let saveSale = axios
                    .post(`/api/sales/${this.sale.id}/payment`, this.payment)
                    .then(response => response.data);
                let result = await saveSale;
                this.getSale();
            },
            async deletePayment(index) {
                let deletingCategory = axios.delete(
                `/api/payments/${this.sale.payments[index].id}`
                );
                await deletingCategory;
                this.getSale();
            },
            getSale(){
                let vm = this;
                axios.get(`/api/sales/${this.$route.params.id}`).then(response => {
                    vm.sale = response.data;
                    vm.payment.sale_id = this.sale.id;
                });
            },
            getDate(date){
                let saleDate = new Date(date);
                let day = saleDate.getDate() < 10 ? '0'+saleDate.getDate() : saleDate.getDate();
                let month = saleDate.getMonth()+1 < 10 ? '0'+(saleDate.getMonth()+1) : saleDate.getMonth()+1;
                return `${day}/${month}/${saleDate.getFullYear()}`;
            }
        },
        beforeMount(){
            this.getSale();
        }
    }
</script>