<template>
    <tr>
        <th>{{sale.id}}</th>
        <td>{{getDate(sale.created_at)}}</td>
        <td>{{sale.total}}</td>
        <td>{{sale.balance}}</td>
        <td class="text-right" v-if="options.buttons">
            <button class="btn btn-primary btn-sm" @click="toggleArticles()" 
                v-if="options.buttons.articles || options.buttons.all">
                <i class="fas fa-list"></i>
            </button>
            <button class="btn btn-success btn-sm" @click="togglePayments()" 
                v-if="options.buttons.payments || options.buttons.all">
                <i class="fas fa-dollar-sign"></i>
            </button>
            <button class="btn btn-info btn-sm" data-toggle="modal" 
                :data-target="'#send-invoice-'+sale.id" @click="initRecipients()"
                v-if="options.buttons.send || options.buttons.all">
                <i class="fas fa-envelope" style="color:white"></i>
            </button>
            <button class="btn btn-secondary btn-sm" @click="downloadSale()" 
                v-if="options.buttons.download || options.buttons.all">
                <i class="fas fa-download"></i>
            </button>
            <button class="btn btn-danger btn-sm" @click="deleteSale()"
                v-if="options.buttons.delete || options.buttons.all">
                <i class="fas fa-trash"></i>
            </button>
            <div class="modal fade" :id="'send-invoice-'+sale.id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            Destinatarios
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="addRecipient()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email" v-model="recipient">
                                        <div class="input-group-append">
                                            <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <tr v-for="(data,index) in recipients" :key="index">
                                    <th class="text-left">{{data}}</th>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-sm" @click="deleteRecipient(index)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer text-right">
                            <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-success" @click="sendSale()" data-dismiss="modal" v-if="recipients.length">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>
<script>
export default {
    props: ['sale','options'],
    data(){
        return {
            recipients: [],
            recipient: '',

        }
    },
    methods: {
        toggleArticles() {
            this.$root.$emit('toggleSaleArticles', this.sale);
        },
        togglePayments() {
            this.$root.$emit('toggleSalePayments', this.sale);
        },
        async deleteSale() {
            let deletingSale = axios.delete(`/api/sales/${this.sale.id}`).then(response => response.data);
            let result = await deletingSale;
            this.$emit('deleted');
        },
        async downloadSale() {
            let downloadingSale = axios.get(`/api/sales/${this.sale.id}/pdf`,{responseType: 'arraybuffer'}).then(response => response);
            let result = await downloadingSale;
            this.downloadSalePdf(result, `Venta #${this.sale.id}`);
        },
        downloadSalePdf(response, filename) {
            var newBlob = new Blob([response.data], {type: 'application/pdf'})
            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveOrOpenBlob(newBlob)
                return
            }
            const data = window.URL.createObjectURL(newBlob)
            var link = document.createElement('a')
            link.href = data
            link.download = filename + '.pdf'
            link.click()
            setTimeout(function () {
                window.URL.revokeObjectURL(data)
            }, 100)
        },
        getDate(date){
            let saleDate = new Date(date);
            let day = saleDate.getDate() < 10 ? '0'+saleDate.getDate() : saleDate.getDate();
            let month = saleDate.getMonth()+1 < 10 ? '0'+(saleDate.getMonth()+1) : saleDate.getMonth()+1;
            return `${day}/${month}/${saleDate.getFullYear()}`;
        },
        addRecipient(){
            this.recipients.push(this.recipient);
            this.recipient = '';
        },
        deleteRecipient(index){
            this.recipients.splice(index, 1);
        },
        async sendSale(){
            let sendingSale = axios.post(`/api/sales/${this.sale.id}/email`,{recipients: this.recipients}).then(response => response.data);
            let result = await sendingSale;
        },
        initRecipients(){
            this.recipients = [];
            if(this.sale.customer.email){
                this.recipient = this.sale.customer.email;
                this.addRecipient();
            }
        }
    }
}
</script>
