<template>
    <tr v-if="articles || payments">
        <td :colspan="options ? options.colspan : 5">
            <table class="table" v-if="articles">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <td scope="col" class="text-center">Articulos</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in sale.articles" :key="'article_'+data.id" v-if="!data.deleted_at">
                        <td>{{index+1}}</td>
                        <td v-if="data.model">
                            {{data.model ? data.model.sku : ''}}
                            {{data.model && data.model.category ? data.model.category.name : ''}}
                            {{data.model && data.model.color ? data.model.color.name : ''}}
                        </td>
                        <td v-else>
                            {{data.description}}
                        </td>
                        <td>{{data.total}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" v-if="payments">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <td scope="col" class="text-center" colspan="3">Pagos</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="sale.balance>0">
                        <td colspan="4">
                            <div class="form-row" >
                                <div class="form-group col-lg-10">
                                    <label for="payment-amount">Cantidad de Abono</label>
                                    <input type="number" id="payment-amount" class="form-control" v-model="payment.amount" step="any">
                                </div>
                                <div class="form-group col-lg-2 text-right">
                                    <button type="button" class="btn btn-success mt-4" @click="savePayment()">
                                        Abonar
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr v-for="(data,index) in sale.payments" :key="'payment_'+data.id" v-if="!data.deleted_at">
                        <td>{{index+1}}</td>
                        <td>{{getDate(data.created_at)}}</td>
                        <td>{{data.amount}}</td>
                        <td class="text-right">
                            <button class="btn btn-danger btn-sm" @click="deletePayment(data)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</template>
<script>
export default {
    props: ['sale','options'],
    data() {
        return {
            articles: false,
            payments: false,
            payment: {}
        }
    },
    methods: {
        toggleComponent(sale, component){
            this.sale.id == sale.id ? this[component] = !this[component] : null;
        },
        getDate(date){
            let saleDate = new Date(date);
            let day = saleDate.getDate() < 10 ? '0'+saleDate.getDate() : saleDate.getDate();
            let month = saleDate.getMonth()+1 < 10 ? '0'+(saleDate.getMonth()+1) : saleDate.getMonth()+1;
            return `${day}/${month}/${saleDate.getFullYear()}`;
        },
        async savePayment() {
            this.payment.sale_id = this.sale.id
            let saveSale = axios
                .post(`/api/sales/${this.sale.id}/payment`, this.payment)
                .then(response => response.data);
            let result = await saveSale;
            this.$emit('updateSales');
        },
        async deletePayment(data) {
            let deletingPayment = axios.delete(`/api/payments/${data.id}`);
            await deletingPayment;
            this.$emit('updateSales');
        },
    },
    mounted() {
        this.$root.$on('toggleSaleArticles', data => this.toggleComponent(data,'articles'));
        this.$root.$on('toggleSalePayments', data => this.toggleComponent(data,'payments'));
    }
}
</script>
