<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Ventas</h1>
            <div class="container-fluid">
                <form @submit.prevent="getSales()" autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="filter-start-date">Desde</label>
                            <date-picker v-model="start_date" :config="options" @dp-change="updateStartDate()"></date-picker>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="filter-end-date">Hasta</label>
                            <date-picker v-model="end_date" :config="options" @dp-change="updateEndDate()"></date-picker>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="filter-customer">Cliente</label>
                            <input type="text" id="filter-customer" class="form-control" v-model="customer.name" @keyup="findCustomer">
                            <div class="search-list" v-if="!filter.customer_id">
                                <div class="list-group">
                                    <div class="list-group-item p-2" :key="data.id" v-for="data in customers" @click="selectCustomer(data)"><b>{{data.name}}</b></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="filter-id">Folio</label>
                            <input type="text" id="filter-id" class="form-control" v-model="filter.id" @keyup="getSales()">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <label for="filter-page" class="mr-3">Mostrar:</label>
                                    <select id="filter-page" class="form-control" v-model="filter.per_page" @change="getSales()">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>      
                            </div>
                        </div>
                        <div class="form-group col-sm-6 text-right mb-2">
                            <button class="btn btn-primary">Filtrar <i class="fas fa-search"></i></button>
                        </div>          
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cliente</th>
                            <th scope="col" class="text-right">Total</th>
                            <th scope="col" class="text-right">Saldo</th>
                            <th scope="col" class="text-right">Ganancia</th>
                            <th scope="col" class="text-right">Inversion</th>
                            <th scope="col" class="text-right">
                                <button class="btn btn-light btn-sm" @click="getSales()">
                                    <i class="fas fa-sync"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data,index) in sales" :key="index">
                            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>
                                {{data.id}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>
                                {{getDate(data.created_at)}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>
                                {{data.customer ? data.customer.name : 'N/A'}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append class="text-right">
                                {{data.total}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append class="text-right">
                                {{data.balance}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append class="text-right">
                                {{data.revenue}}
                            </router-link>
                            <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append class="text-right">
                                {{data.total - data.revenue}}
                            </router-link>
                            <td class="text-right">
                                <button class="btn btn-info btn-sm" data-toggle="modal" 
                                    :data-target="'#send-invoice-'+data.id" @click="initRecipients(data)">
                                    <i class="fas fa-envelope" style="color:white"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm" @click="downloadSale(data)">
                                    <i class="fas fa-download"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" @click="deleteSale(data,index)">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <div class="modal fade" :id="'send-invoice-'+data.id" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                Destinatarios
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form @submit.prevent="addRecipient()">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="email" class="form-control" placeholder="Email" v-model="recipient">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <table class="table">
                                                    <tr v-for="(data,index) in recipients" :key="index">
                                                        <th class="text-left">{{data}}</th>
                                                        <td class="text-right">
                                                            <button class="btn btn-danger btn-sm" @click="deleteRecipient(index)">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer text-right">
                                                <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                                                <button class="btn btn-success" @click="sendSale(data)" data-dismiss="modal" v-if="recipients.length">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <td colspan="3" class="text-right">TOTALES</td>
                            <th class="text-right">{{totals.total}}</th>
                            <th class="text-right">{{totals.balance}}</th>
                            <th class="text-right">{{totals.revenue}}</th>
                            <th class="text-right">{{totals.total - totals.revenue}}</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    data(){
        return {
            filter:{ per_page:10 },
            sales: [],
            customer: { name:"" },
            customers: [],
            start_date: new Date(),
            end_date: new Date(),
            options:{
                locale: 'es',
                format: 'DD/MM/YYYY'
            },
            totals: {},
            recipients: [],
            recipient: ''
        }
    },
    methods: {
        async getSales() {
            this.sales = [];
            let fetchSales = axios.get("/api/sales",{params: this.filter}).then(response => response.data);
            let result = await fetchSales;
            this.sales = result.data;
            this.totals = result.totals;
        },
        getDate(date){
            let saleDate = new Date(date);
            let day = saleDate.getDate() < 10 ? '0'+saleDate.getDate() : saleDate.getDate();
            let month = saleDate.getMonth()+1 < 10 ? '0'+(saleDate.getMonth()+1) : saleDate.getMonth()+1;
            return `${day}/${month}/${saleDate.getFullYear()}`;
        },
        async deleteSale(data, index) {
            let deletingSale = axios.delete(`/api/sales/${data.id}`).then(response => response.data);
            let result = await deletingSale;
            this.sales.splice(index, 1);
        },
        updateStartDate(){
            let start_date = this.start_date.split('/');
            start_date = `${start_date[2]}-${start_date[1]}-${start_date[0]}`
            this.filter.start_date = start_date;
            this.getSales();
        },
        updateEndDate(){
            let end_date = this.end_date.split('/');
            end_date = `${end_date[2]}-${end_date[1]}-${end_date[0]}`
            this.filter.end_date = end_date;
            this.getSales();
        },
        async findCustomer(){
            this.filter.customer_id = "";
            if(!this.customer.name) {
                this.customers = [];
                return
            };
            let customers = await axios.get('/api/customers/search',{params:this.customer}).then(response => response.data);
            this.customers = customers;
        },
        selectCustomer(customer){
            this.filter.customer_id = customer.id;
            this.customer = customer;
            this.getSales();
        },
        async downloadSale(data) {
            let downloadingSale = axios.get(`/api/sales/${data.id}/pdf`,{responseType: 'arraybuffer'}).then(response => response);
            let result = await downloadingSale;
            this.downloadSalePdf(result, `Venta #${data.id}`);
        },
        downloadSalePdf(response, filename) {
            var newBlob = new Blob([response.data], {type: 'application/pdf'})
            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveOrOpenBlob(newBlob)
                return
            }
            const data = window.URL.createObjectURL(newBlob)
            var link = document.createElement('a')
            link.href = data
            link.download = filename + '.pdf'
            link.click()
            setTimeout(function () {
                window.URL.revokeObjectURL(data)
            }, 100)
        },
        addRecipient(){
            this.recipients.push(this.recipient);
            this.recipient = '';
        },
        deleteRecipient(index){
            this.recipients.splice(index, 1);
        },
        async sendSale(sale){
            let sendingSale = axios.post(`/api/sales/${sale.id}/email`,{recipients: this.recipients}).then(response => response.data);
            let result = await sendingSale;
        },
        initRecipients(sale){
            this.recipients = [];
            if(sale.customer.email){
                this.recipient = sale.customer.email;
                this.addRecipient();
            }
        }
    },
    beforeMount(){
        let start_date = new Date();
        start_date.setFullYear(start_date.getFullYear() - 1);
        this.start_date = start_date;
        let y = start_date.getFullYear();
        let m = start_date.getMonth()+1 < 10 ? '0'+(start_date.getMonth()+1) : start_date.getMonth()+1;
        let d = start_date.getDate() < 10 ? '0'+start_date.getDate() : start_date.getDate();
        this.filter.start_date = `${y}-${m}-${d}`;
        this.filter.end_date = `${y+1}-${m}-${d}`;
        this.getSales();   
    }
}
</script>
